footer{
    width: 100%;
    background-color: black;
    min-height: 30vh;
    position: relative;
}
.footer-logo{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #f62d63;
    color: #F62D63;
    padding: 1.5rem 0.1rem;
    font-weight: 400;
}

.footer-main{
    padding: 2.5rem 0 1.5rem 0;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    min-height: 20vh;
    border-bottom: 2px solid #f62d63;
    
}
.footer-columns{
    width: 40%;
    justify-content: space-between;
    display: flex;
    min-height: 10vh;
}
.footer-columns .column{
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
}
.footer-columns .column a,.footer-end a{
    color: #868686;
}
.footer-end{
    color: #868686;
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    min-height: 10vh;
    align-items: center;
}
.footer-terms a{
    padding: 0 0.5rem;
}
.footer-terms{
    display: flex;
    
}
.footer-icons{
    display: flex;
}
.footer-icons img{
    width: 20px;
    height: 20px;
    margin: 1rem;
}
.up-arrow{
    position: absolute;
    bottom: 20%;
    right: 5%;
    background: #636363;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
}
@media screen and  (max-width:1150px){
    .footer-terms a{
        padding: 0 0.5rem;
    }
    .footer-end{
        flex-direction: column;
    }
    .footer-copy{
        margin: 1rem 0;
    }
}
@media screen and  (max-width:800px){
    .footer-main{
        border: none;
        justify-content: center;
    }
    .footer-columns{
        display: none;
    }
    .footer-end{
        width: 100%;
        flex-direction: column;
    }
    .footer-terms{
        
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    .footer-terms a{
        padding: 0.5rem 0;
    }
    .hide-footer{
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
    }
    .footer-copy{
        border-top: 1px solid #F62D63;
        min-height: 5vh;
        order: 2;
        display: flex;
        padding: 1rem 0;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .footer-icons{
        order: 3;
        width: 50%;
    }
    .up-arrow{
        background: #000;
        bottom: 5%;
      
    }
    
}